html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    font-family: 'Urbanist', sans-serif;
    line-height: 1.25;
    font-size: 1.6rem;
}

img{
    display: block;
    width: 100%;
}

h1, h2, h3{
    margin: 0;
}


